*{
    font-family: 'PT Sans Narrow', Arial, Tahoma, SF, sans-serif;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 14px;
    box-sizing: border-box;
    font-weight: normal;
    text-decoration: none;
}
body{
    line-height: calc (24/14);
    background-size: cover;
}
.container{
    width: 100%;
    max-width: 1200px;
    min-width: 768px;
    padding: 0 40px;
    margin: 0 auto;
}
.logo{
    text-align: center;
}
.logo img{
    width: 100%;
    height: 450px;
}
.main-menu{
    display: flex;
    justify-content: space-between;
}
.main-title{
    text-align: center;
}
h1{
    font-weight: bold; 
}
.promo-item{
    width: 28%;
    display: inline-block;
}
.adventure{
    display: flex;
    justify-content: space-between;
}
.adventure-item::before{
    content: url("css/img/sprites.png")
}
footer .container{
    display: flex;
    justify-content: space-between;
}
.adventure-item::before:nth-child(2){
    background-position: 0 0;
}
